# Importing the Libraries

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ucimlrepo import fetch_ucirepo

In [3]:
dataset = pd.read_csv('bank-additional-full.csv', sep=';', quotechar='"')

In [4]:
dataset

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [5]:
dataset.shape

(41188, 21)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [7]:
dataset.isin(['unknown']).sum()

age                  0
job                330
marital             80
education         1731
default           8597
housing            990
loan               990
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

# Data Exploration

In [8]:
dataset.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [9]:
for column in dataset.columns:
    print(f"Value counts for '{column}':")
    print(dataset[column].value_counts().reset_index().rename(columns={'index': column, column: 'Count'}))
    print("=" * 50)

Value counts for 'age':
    Count  count
0      31   1947
1      32   1846
2      33   1833
3      36   1780
4      35   1759
..    ...    ...
73     89      2
74     91      2
75     94      1
76     87      1
77     95      1

[78 rows x 2 columns]
==================================================
Value counts for 'job':
            Count  count
0          admin.  10422
1     blue-collar   9254
2      technician   6743
3        services   3969
4      management   2924
5         retired   1720
6    entrepreneur   1456
7   self-employed   1421
8       housemaid   1060
9      unemployed   1014
10        student    875
11        unknown    330
==================================================
Value counts for 'marital':
      Count  count
0   married  24928
1    single  11568
2  divorced   4612
3   unknown     80
==================================================
Value counts for 'education':
                 Count  count
0    university.degree  12168
1          high.school   9515
2             basic.9y   6045
3  professional.course   5243
4             basic.4y   4176
5             basic.6y   2292
6              unknown   1731
7           illiterate     18
==================================================
Value counts for 'default':
     Count  count
0       no  32588
1  unknown   8597
2      yes      3
==================================================
Value counts for 'housing':
     Count  count
0      yes  21576
1       no  18622
2  unknown    990
==================================================
Value counts for 'loan':
     Count  count
0       no  33950
1      yes   6248
2  unknown    990
==================================================
Value counts for 'contact':
       Count  count
0   cellular  26144
1  telephone  15044
==================================================
Value counts for 'month':
  Count  count
0   may  13769
1   jul   7174
2   aug   6178
3   jun   5318
4   nov   4101
5   apr   2632
6   oct    718
7   sep    570
8   mar    546
9   dec    182
==================================================
Value counts for 'day_of_week':
  Count  count
0   thu   8623
1   mon   8514
2   wed   8134
3   tue   8090
4   fri   7827
==================================================
Value counts for 'duration':
      Count  count
0        90    170
1        85    170
2       136    168
3        73    167
4       124    164
...     ...    ...
1539   1569      1
1540   1053      1
1541   1263      1
1542   1169      1
1543   1868      1

[1544 rows x 2 columns]
==================================================
Value counts for 'campaign':
    Count  count
0       1  17642
1       2  10570
2       3   5341
3       4   2651
4       5   1599
5       6    979
6       7    629
7       8    400
8       9    283
9      10    225
10     11    177
11     12    125
12     13     92
13     14     69
14     17     58
15     16     51
16     15     51
17     18     33
18     20     30
19     19     26
20     21     24
21     22     17
22     23     16
23     24     15
24     27     11
25     29     10
26     28      8
27     26      8
28     25      8
29     31      7
30     30      7
31     35      5
32     32      4
33     33      4
34     34      3
35     42      2
36     40      2
37     43      2
38     56      1
39     39      1
40     41      1
41     37      1
==================================================
Value counts for 'pdays':
    Count  count
0     999  39673
1       3    439
2       6    412
3       4    118
4       9     64
5       2     61
6       7     60
7      12     58
8      10     52
9       5     46
10     13     36
11     11     28
12      1     26
13     15     24
14     14     20
15      8     18
16      0     15
17     16     11
18     17      8
19     18      7
20     22      3
21     19      3
22     21      2
23     25      1
24     26      1
25     27      1
26     20      1
==================================================
Value counts for 'previous':
   Count  count
0      0  35563
1      1   4561
2      2    754
3      3    216
4      4     70
5      5     18
6      6      5
7      7      1
==================================================
Value counts for 'poutcome':
         Count  count
0  nonexistent  35563
1      failure   4252
2      success   1373
==================================================
Value counts for 'emp.var.rate':
   Count  count
0    1.4  16234
1   -1.8   9184
2    1.1   7763
3   -0.1   3683
4   -2.9   1663
5   -3.4   1071
6   -1.7    773
7   -1.1    635
8   -3.0    172
9   -0.2     10
==================================================
Value counts for 'cons.price.idx':
     Count  count
0   93.994   7763
1   93.918   6685
2   92.893   5794
3   93.444   5175
4   94.465   4374
5   93.200   3616
6   93.075   2458
7   92.201    770
8   92.963    715
9   92.431    447
10  92.649    357
11  94.215    311
12  94.199    303
13  92.843    282
14  92.379    267
15  93.369    264
16  94.027    233
17  94.055    229
18  93.876    212
19  94.601    204
20  92.469    178
21  93.749    174
22  92.713    172
23  94.767    128
24  93.798     67
25  92.756     10
==================================================
Value counts for 'cons.conf.idx':
    Count  count
0   -36.4   7763
1   -42.7   6685
2   -46.2   5794
3   -36.1   5175
4   -41.8   4374
5   -42.0   3616
6   -47.1   2458
7   -31.4    770
8   -40.8    715
9   -26.9    447
10  -30.1    357
11  -40.3    311
12  -37.5    303
13  -50.0    282
14  -29.8    267
15  -34.8    264
16  -38.3    233
17  -39.8    229
18  -40.0    212
19  -49.5    204
20  -33.6    178
21  -34.6    174
22  -33.0    172
23  -50.8    128
24  -40.4     67
25  -45.9     10
==================================================
Value counts for 'euribor3m':
     Count  count
0    4.857   2868
1    4.962   2613
2    4.963   2487
3    4.961   1902
4    4.856   1210
..     ...    ...
311  3.853      1
312  3.901      1
313  0.969      1
314  0.956      1
315  3.669      1

[316 rows x 2 columns]
==================================================
Value counts for 'nr.employed':
     Count  count
0   5228.1  16234
1   5099.1   8534
2   5191.0   7763
3   5195.8   3683
4   5076.2   1663
5   5017.5   1071
6   4991.6    773
7   5008.7    650
8   4963.6    635
9   5023.5    172
10  5176.3     10
==================================================
Value counts for 'y':
  Count  count
0    no  36548
1   yes   4640
==================================================

In [10]:
dataset_copy = dataset.copy()
dataset_copy.replace('unknown', pd.NA, inplace=True)

In [11]:
dataset_copy.isnull().sum()

age                  0
job                330
marital             80
education         1731
default           8597
housing            990
loan               990
contact              0
month                0
day_of_week          0
duration             0
campaign             0
pdays                0
previous             0
poutcome             0
emp.var.rate         0
cons.price.idx       0
cons.conf.idx        0
euribor3m            0
nr.employed          0
y                    0
dtype: int64

In [13]:
dataset_copy = dataset_copy.dropna()

In [14]:
dataset_copy.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [16]:
print(f"Original dataset:{dataset.shape}")
print(f"Copied dataset with  dropped missing values:{dataset_copy.shape}")

Original dataset:(41188, 21)
Copied dataset with  dropped missing values:(30488, 21)